// ------------------------------ Fonts ------------------------------

@font-face {
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
    src: url("https://use.typekit.net/axk6esy.css");
}

@font-face {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://use.typekit.net/axk6esy.css");
}

// ------------------------------ Variables ------------------------------

:root {
    // Colors
    --purple-dark: #780CD0;
    --purple: #B361F6;
    --purple-light: #CE99F9;

    --blue-dark: #0C23D0;
    --blue: #6071F6;
    --blue-light: #99A4F9;

    --accent: #F6B260;
    --grey: #C9D4DA;
    --off-white: #FBFBFB;
    --white: #FFFFFF;

    --header: #0A0111;
    --text: #666666;

    // Font tyoe
    --body-font: 'haboro-contrast-normal, sans-serif';
    --header-font: 'forma-djr-micro, sans-serif';

    // Font size
    --links-font-size: 12px;
    --text-font-size: 16px;

    // Shadows
    --main-shadow:
        0 4px 24px 0 rgb(103 151 255 / 10%), 0 12px 64px 0 rgb(103 151 255 / 10%);
    --hover-shadow:
        0 4px 24px 0 rgb(103 151 255 / 25%), 0 12px 64px 0 rgb(103 151 255 / 25%);

    // Animation
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: auto;

}

body {
    background-color: var(--off-white);
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: var(--text);
    line-height: 1.6;
    user-select: none;
    margin: auto;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
    color: var(--header);
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

p {
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
}

// ------------------------------ Buttons ------------------------------

button {
    text-transform: uppercase;
    font-family: haboro-contrast-extended, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: var(--white);
    padding: 12px 24px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: var(--main-shadow);
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: var(--hover-shadow);
}

.button_purple {
    background-color: var(--purple);
}

.button_purple:hover {
    background-color: rgba(179, 97, 246, 0.8);
    cursor: pointer;
}

.button_black {
    background-color: var(--header);
}

.button_black:hover {
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
}

// ------------------------------ Sections ------------------------------

section {
    width: 100%;
    padding: 0 40px;
}

.wrapper {
    max-width: 1640px;
    margin: auto;
}

// ------------------------------ Header ------------------------------

.header {
    // position: fixed;
    background: url(../wave_2.svg);
    background-color: linear-gradient(to left, var(--blue-light), var(--purple-light));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
}

.contactNo {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: medium;

    p {
        font-family: haboro-contrast-extended, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

.menu {
    position: fixed;
    top: 45px;
    left: 5vw;
    right: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--main-shadow);
}

.logo {
    width: 60px;
    height: auto;
}