// ------------------------------ Fonts ------------------------------

@font-face {
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
    src: url("https://use.typekit.net/axk6esy.css");
}

@font-face {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://use.typekit.net/axk6esy.css");
}

// ------------------------------ Variables ------------------------------

:root {
    // Colors
    --purple-dark: #780CD0;
    --purple: #B361F6;
    --purple-light: #CE99F9;

    --blue-dark: #0C23D0;
    --blue: #6071F6;
    --blue-light: #99A4F9;

    --accent: #F6B260;
    --grey: #C9D4DA;
    --off-white: #FBFBFB;
    --white: #FFFFFF;

    --header: #0A0111;
    --text: #666666;

    // Font tyoe
    --body-font: 'haboro-contrast-normal, sans-serif';
    --header-font: 'forma-djr-micro, sans-serif';

    // Font size
    --font-size: 20px;

    // Shadows
    --main-shadow:
        0 4px 24px 0 rgb(103 151 255 / 10%), 0 12px 64px 0 rgb(103 151 255 / 10%);
    --hover-shadow:
        0 4px 24px 0 rgb(103 151 255 / 25%), 0 12px 64px 0 rgb(103 151 255 / 25%);

    // Animation
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: auto;

}

body {
    background-color: var(--off-white);
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: var(--font-size);
    color: var(--text);
    line-height: 1.6;
    user-select: none;
    margin: auto;
}

// ------------------------------ Fonts ------------------------------

h1,
h2,
h3,
h4 {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
    color: var(--header);
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

p {
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 300;
    font-style: normal;
}

// ------------------------------ Buttons ------------------------------

button {
    text-transform: uppercase;
    font-family: haboro-contrast-normal, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size);
    letter-spacing: 3px;
    color: var(--white);
    padding: 15px 40px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: var(--main-shadow);
    transition: all 0.3s ease-in-out;
}

button:hover {
    box-shadow: var(--hover-shadow);
}

.button_purple {
    background-color: var(--purple);

    &:hover {
        background-color: rgba(179, 97, 246, 0.8);
        cursor: pointer;
    }
}

.button_black {
    background-color: var(--header);

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
}


// ------------------------------ Sections ------------------------------

section {
    width: 100%;
    // padding: 0 40px;
    margin: auto;
}

.wrapper {
    max-width: 1640px;
    width: 100%;
    margin: auto;
}

// ------------------------------ Navbar ------------------------------

.navbar {
    background: url(../wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    box-shadow: var(--main-shadow);
}

.logo {
    width: 60px;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}

.contactNo {
    width: 100%;
    margin: 0;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    p {
        font-family: haboro-contrast-extended, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: var(--font-size);
    }
}

.menu {
    position: fixed;
    width: 80vw;
    top: 50px;
    left: 10vw;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--main-shadow);
    z-index: 10;
}

.menu_bottom {
    position: fixed;
    top: 158px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: haboro-contrast-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--font-size);
    word-spacing: 15px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);

    a {
        color: var(--header);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--blue);
        }
    }
}

// ------------------------------ Header ------------------------------

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../header_background.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    color: var(--white);

    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 100px auto 150px;

        h1,
        h3,
        p {
            color: var(--white);
            margin: 20px;
        }
    }

    button {
        margin: 10px;
    }
}




// ------------------------------ Main ------------------------------






// ------------------------------ Footer ------------------------------

footer {
    background-image: linear-gradient(to right, var(--purple-dark), var(--purple-light));
    width: 100%;
    padding: 80px 20vw;

    .wrapper {
        display: grid;
        grid-template-columns: 3fr repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    li {
        display: flex;
        flex-direction: column;

        a {
            color: var(--white);
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--header);
            }
        }
    }

    h1,
    h2,
    h4 {
        color: var(--grey);
        margin: 0;
    }

    h3,
    p {
        color: var(--white);
        margin: 0;
    }

    .address {
        background-color: var(--header);
        margin-top: 50px;
        padding: 50px;
        border-radius: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        button {
            width: 40px;
            height: 40px;
            padding: 5px 10px;
            color: var(--header);
        }
    }

    .left_keft {
        grid-area: 1 / 1 / 2 / 2;
    }

    .left_middle {
        grid-area: 1 / 2 / 2 / 3;
    }

    .right_middle {
        grid-area: 1 / 3 / 2 / 4;
    }

    .right_right {
        grid-area: 1 / 4 / 2 / 5;
    }
}

// ------------------------------ Media queries ------------------------------

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .navbar {
        height: 190px;
    }

    .header {
        .wrapper {
            margin: 60px auto 90px;
        }
    }

    button {
        font-size: 0.95rem;
        letter-spacing: 2px;
        color: var(--white);
        padding: 15px 30px;
    }

    .logo {
        width: 50px;
    }

    .menu {
        width: 84vw;
        left: 8vw;
        right: 8vw;
        padding: 8px 16px;
    }

    .menu_bottom {
        top: 147px;

        li {
            font-size: 0.95rem;
        }
    }

    .contactNo {
        padding-top: 14px;

        p {
            font-size: 0.95rem;
        }
    }

    h1 {
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 1.563rem;
    }

    p,
    li {
        font-size: 0.95rem;
    }

    footer {
        padding: 50px 18vw;

        .address {
            margin-top: 40px;
            padding: 40px;
            border-radius: 25px;

            button {
                width: 36px;
                height: 36px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 150px;
    }

    .header {
        .wrapper {
            margin: 30px auto 50px;
        }
    }

    section {
        margin: 0;
        padding: 0;
    }

    button {
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: var(--white);
        padding: 10px 20px;
    }

    .logo {
        width: 40px;
    }

    .menu {
        width: 90vw;
        left: 5vw;
        right: 5vw;
        padding: 5px 10px;
    }

    .menu_bottom {
        top: 120px;

        li {
            font-size: 0.9rem;
        }
    }

    .contactNo {
        padding-top: 15px;

        p {
            font-size: 0.9rem;
        }
    }

    h1 {
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    p,
    li {
        font-size: 0.9rem;
    }

    footer {
        padding: 40px 7vw;

        .wrapper {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .left {
            grid-area: 1 / 2 / 2 / 4;
        }

        .middle {
            grid-area: 1 / 1 / 3 / 2;
        }

        .right {
            grid-area: 2 / 2 / 3 / 4;
        }

        .address {
            margin-top: 30px;
            padding: 30px;
            border-radius: 20px;

            button {
                width: 32px;
                height: 32px;
            }

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
    
            .left_keft {
                grid-area: 1 / 1 / 2 / 2;
            }
    
            .left_middle {
                grid-area: 1 / 2 / 2 / 3;
            }
    
            .right_middle {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            .right_right {
                grid-area: 2 / 2 / 3 / 3;
            }
        }
    }
}