:root {
    // Colors
    --purple: #7161F5;
    --green: #61F570;
    --red: #F57061;
    --darker: #040117;
    --dark: #07032E;
    --light: #EBE8FE;
    --lighter: #FFFFFF;
    --background-text: rgba(113, 97, 245, 0.05);
    --grey-text: #ABABAB;
}